body {
    margin: 0px;
}
.container {
    background-color: beige;
}
.headBar {
    background-color: tomato;
    height: 40px;
    border: 1px solid black;
}
.mainItems {
    background-color: skyblue;
    height: 300px;
    display: flex;
    flex-direction: row;
}
.mitem {
    border: 1px solid black;
}
.leftBar {
    background-color: lightgreen;
    width: 60px;
    height: 300px;
}
.middlePage {
    background-color: gold;
    flex-grow: 2;
    height: 300px;
}
.rightBar {
    background-color: lightpink;
    width: 40px;
    height: 300px;
}

.footBar {
    height: 50px;
    border: 1px solid black;
}